.swiperContainer {
    position: absolute;
    left: 269px;
    top: 216px;
    width: 901px;
    height: 507px;
    /*background-color: red;*/
}

.SwiperSlideContainer {
    position: absolute;
    background-color: #F0F0F0;
    width: 363px;
    height: 409px;
    padding: 20px;
    border-radius: 30px;
    border: 1px solid #B3DAEC;
}


.swiperPaginationContainer {
    position: absolute !important;
    top: 700px !important;
}