.mediaIconBg {
  position: relative;
  width: 70px;
  height: 70px;

  background: #FFEBBB;
  border-radius: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  transition: transform 0.3s;
  transform: scale(1);
}

.mediaIconBg:hover {
  transform: scale(1.1);
}
