/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --height: 900px; 
  --width-ratio: calc(100% / var(--height)); 
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  background: #383e3a;
}

@font-face {
  font-family: "Arial Rounded MT Bold";
  src: url("../../public/Arial_Rounded_MT_Bold.ttf") format("truetype");
}
