.panelContainer {
    width: 1440px;
    height: 900px;
    position: relative;
}

.panelCircleContainer {
    width: 1420px;
    height: 900px;
    border-radius: 30px;
}

.labelWithLink {
    cursor: pointer;
}

.labelWithLink:hover {
    text-decoration: underline;
}

/*new*/
.outerContainer {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.innerContainer {
    width: 1440px;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}